In [2]:
import pandas as pd
import numpy as np

In [3]:
grades = {"Atil":50, "James":60, "Lars":30}

In [ ]:
pd.Series(grades) # dataframe serilerin birleşimi olan yapıdır

Atil     50
James    60
Lars     30
dtype: int64

In [5]:
names = ["Atil", "James", "Lars"]
grades =[50,60,30]

In [6]:
pd.Series(names)

0     Atil
1    James
2     Lars
dtype: object

In [7]:
pd.Series(grades)

0    50
1    60
2    30
dtype: int64

In [8]:
pd.Series(grades,names)

Atil     50
James    60
Lars     30
dtype: int64

In [9]:
pd.Series(data=grades, index=names)

Atil     50
James    60
Lars     30
dtype: int64

In [10]:
# with numpy

In [11]:
np_array = np.array([50,60,30,20])

In [12]:
pd.Series(np_array)

0    50
1    60
2    30
3    20
dtype: int32

In [ ]:
# arithmetic

In [13]:
contest_result = pd.Series(data=[10,5,100], index=["Atil", "James", "Lars"])

In [14]:
contest_result2 = pd.Series(data=[20,50,10], index=["Atil", "James", "Lars"])

In [15]:
contest_result

Atil      10
James      5
Lars     100
dtype: int64

In [16]:
contest_result["Atil"]

10

In [17]:
final_result = contest_result +  contest_result2

In [18]:
final_result

Atil      30
James     55
Lars     110
dtype: int64

In [20]:
contest_result *  contest_result2

Atil      200
James     250
Lars     1000
dtype: int64

In [21]:
different_series = pd.Series([20,30,40,50],["a","b","c","d"])

In [22]:
different_series

a    20
b    30
c    40
d    50
dtype: int64

In [23]:
different_series2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [ ]:
different_series + different_series2 # farklı indexler var

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64

nan